<div class="container mt-5">
    <%= form_with(model: post) do |f| %>
        <div class="form-group">
            <h2>① - 今日勉強したこと</h2>
            <%= f.fields_for :tasks do |sform|%>
              <%= render "task_fields", f: sform %>
            <% end %>
        </div>
        <%= link_to_add_fields "Add Tasks", f, :tasks %>
        <h2>② - 今日の一言</h2>
        <div class="form-group">
            <%= f.text_area :aword, class: "form-control", rows: "5", placeholder: '今日は〇〇と××の勉強をしたけれど、□□の部分が難しくわからなかった。要復習' %>
        </div>

        <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
</div>


<!--
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
-->