<header class="container-fluid p-header">
    <div class="container p-header__inner">
        <h1 class="m-0">
        <%= link_to root_path do %>
            <img class="logo" src="/images/logo.png" alt="">
        <% end %>
        </h1>
        <div class="d-flex">
            <% if user_signed_in? %>
                <%= link_to new_post_path, class: 'p-btn p-btn--post' do %>
                    <i class="fas fa-edit"></i> 投稿する
                <% end %>
                
                <div class="dropdown show p-dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="profile-icon" src="/images/jdenticon/icon-01.png" alt="">
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <%= link_to settings_account_path, class: 'dropdown-item' do %>
                            <i class="fas fa-cogs"></i> 設定
                        <% end %>
                        <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                            <i class="fas fa-sign-out-alt"></i> ログアウト
                        <% end %>
                    </div>
                </div>
            <% else %>
                <%= link_to new_user_registration_path, class: 'p-btn p-btn--signup' do %>
                    登録
                <% end %>
                <%= link_to new_user_session_path, class: 'p-btn p-btn--login' do %>
                    ログイン
                <% end %>
            <% end %>
        </div>
    </div>
</header>
