<main class="p-main">

    <div class="p-main__header">
        <div>
            <i class="fas fa-list"></i> タイムライン
        </div>
    </div>

    <%= render 'layouts/summary' %>
    <%= render 'layouts/summary' %>
    <%= render 'layouts/summary' %>
    <%= render 'layouts/summary' %>
    <%= render 'layouts/summary' %>
    <%= render 'layouts/summary' %>
    
</main>